.integr8ly-congratulations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  margin-bottom: 0;
  text-align: center;

  --integr8ly-c-congratulations-image--BackgroundImage--xs: url("#{$pf-global--image-path}/congrats_576.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--xs-2x: url("#{$pf-global--image-path}/congrats_576@2x.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--sm: url("#{$pf-global--image-path}/congrats_768.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--sm-2x: url("#{$pf-global--image-path}/congrats_768@2x.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--md: url("#{$pf-global--image-path}/congrats_992.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--md-2x: url("#{$pf-global--image-path}/congrats_992@2x.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--lg: url("#{$pf-global--image-path}/congrats_1200.jpg");
  --integr8ly-c-congratulations-image--BackgroundImage--xl: url("#{$pf-global--image-path}/congrats_2000.jpg");

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $pf-color-blue-600;
    background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--xs);
    filter: var(--pf-c-background-image--Filter);
    background-repeat: no-repeat;
    background-size: cover;

    /* stylelint-disable */
    @media (max-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--xs-2x);
    }

    @media (min-width: $pf-global--breakpoint--sm) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--sm);
    }

    @media (min-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--sm-2x);
    }

    @media (min-width: $pf-global--breakpoint--md) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--md);
    }

    @media (min-width: $pf-global--breakpoint--md) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--md) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--md-2x);
    }

    @media (min-width: $pf-global--breakpoint--lg) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--lg);
    }

    @media (min-width: $pf-global--breakpoint--lg) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--lg) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--xl);
    }
    /* stylelint-enable */

    @media (min-width: $pf-global--breakpoint--xl) {
      background-image: var(--integr8ly-c-congratulations-image--BackgroundImage--xl);
    }
  }

  &_logo {
    position: absolute;
    top: 45px;
    right: 25px;
    height: 38px;
    width: 115px;
    background-image: url("../../img/RedHatLogo.png");
    background-repeat: no-repeat;
  }

  &_icon {
    height: 199px;
    width: 198px;
    margin-bottom: 16px;
    background-image: url("../../img/congratulations.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
  }

  &_heading {
    color: $pf-color-white;
    z-index: 5;
  }

  &_paragraph {
    margin-bottom: 28px;
    color: $pf-color-white;
    z-index: 5;
  }

  &_buttons {
    z-index: 5;

    button {
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}
