.integr8ly-congratulations-background {
  background-image: url("../../img/PF4DownstreamBG.svg");
  background-color: #151515 !important; /* stylelint-disable declaration-no-important */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.integr8ly-congratulations-image {
  width: 200px;
}
