/* stylelint-disable */

.pf-c-landing__heading {
  margin: 0;
  padding: 20px 0 10px;
}

.pf-c-landing__content {
  margin: 0;
  padding: 0 0 20px;
}

.pf-c-tabs {
  background: var(--pf-global--BackgroundColor--100);
  padding-left: var(--pf-global--spacer--lg);
}

.pf-c-tabs-list {
  background: var(--pf-global--BackgroundColor--100);
}

.pf-c-tab-content {
  padding-right: var(--pf-c-page__main-breadcrumb--md--PaddingRight)
}
/* stylelint-enable */

.pf-c-page__header {
    background: var(--pf-global--BackgroundColor--dark-100);
}

.pf-c-page__main {
  background: var(--pf-global--BackgroundColor--300);
}