.integr8ly- {
  &img-responsive {
    img {
      max-width: 100%;
    }
  }

  &module {
    &-column--status {
      .progress.progress-label-left { /* stylelint-disable-line selector-class-pattern */
        width: 80%;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 100px;
      }

      .progress.progress-label-left span { /* stylelint-disable-line selector-class-pattern */
        position: absolute;
        top: -3px;
        margin-left: -100px;
      }

      &-next {
        background-color: $pf-color-black-100;
        border-top: var(--pf-global--BorderWidth--sm) solid;
        border-top-color: $pf-color-black-300;
        margin: 0 -20px;
        padding: 10px 20px 20px;
      }
    }

    &-column--footer {
      background-color: var(--pf-global--Color--light-100);
      border-top: var(--pf-global--BorderWidth--sm) solid;
      border-top-color: $pf-color-black-700;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 3;

      /* stylelint-disable max-nesting-depth */
      h6 {
        color: $pf-color-black-700;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      &_status {
        &.icon { /* stylelint-disable selector-class-pattern */
          color: var(--pf-global--info-color--100) !important; /* stylelint-disable-line declaration-no-important */
        }

        .icon:first-child {
          margin-left: 0;
        }

        &-checked.icon {
          color: var(--pf-global--success-color--100) !important; /* stylelint-disable-line declaration-no-important */
        }

        &-unchecked.icon {
          color: var(--pf-global--danger-color--100) !important; /* stylelint-disable-line declaration-no-important */
        }
      }
      /* stylelint-enable */
    }
  }
}

.integr8ly-m-alert {
  .pf-c-alert__title { /* stylelint-disable selector-class-pattern */
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
    margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  .form-group {
    margin-bottom: 0;
  }
}
