/* stylelint-disable */
.pf-c-about-modal-box {
  background-image: url("../../img/PF4DownstreamBG.svg") !important;
  --pf-c-about-modal-box__hero--sm--BackgroundImage: url("../../img/PF4DownstreamBG.svg") !important;
  background-color: #151515 !important;
  background-position: 70% 65%;
  .pf-c-about-modal-box__brand,
  .pf-c-about-modal-box__header,
  .pf-c-about-modal-box__content {
    background-color: rgba(3, 3, 3, .9);
  }
  .pf-c-about-modal-box__content {
    margin: 0;
    padding: 48px 64px;
  }
}
.pf-c-about-modal-box__hero {
  visibility: hidden !important;
}
/* stylelint-enable */
