.integr8ly-alert {
  .integr8ly-alert-icon {
    position: absolute;
    left: 13px;
    top: 14px;
  }
}

/* stylelint-disable */

.pf-c-alert.settings-alert {
  margin: var(--pf-global--spacer--lg);
}

.pf-c-alert.info-alert {
  margin-top: var(--pf-global--spacer--lg);
  margin-right: var(--pf-global--spacer--lg);
}

    /* stylelint-enable */

