.integr8ly-alert {
  .integr8ly-alert-icon {
    position: absolute;
    left: 13px;
    top: 14px;
  }
}

#settings-alert.pf-c-alert {
  margin: var(--pf-global--spacer--lg);
}

#info-alert.pf-c-alert {
  margin-top: var(--pf-global--spacer--lg);
  margin-right: var(--pf-global--spacer--lg);
}

