.integr8ly-breadcrumb {
  margin-bottom: 0;
  background-color: var(--pf-global--BackgroundColor--light-300);
  border-bottom: var(--pf-global--BorderWidth--sm) solid;
  border-bottom-color: var(--pf-global--BorderColor--light);
  box-shadow: 0 1px 1px $pf-color-black-300;
}
