.integr8ly-breadcrumb {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 0;
  padding-left: var(--pf-global--spacer--lg);
  background-color: var(--pf-global--BackgroundColor--light-300);
  border-bottom: var(--pf-global--BorderWidth--sm) solid;
  border-bottom-color: var(--pf-global--BorderColor--light);
  box-shadow: 0 1px 1px $pf-color-black-300;
  z-index: 5;
}
