.integr8ly-copy {
  button {
    height: 32px;
  }

  input {
    height: 32px;
  }

  &-input {
    &.false { /* stylelint-disable-line selector-class-pattern */
      width: 200px;
      text-overflow: ellipsis;
    }

    @media (min-width: 768px) {
      &.false { /* stylelint-disable-line selector-class-pattern */
        width: 400px;
      }
    }

    &.expanded { /* stylelint-disable-line selector-class-pattern */
      background-color: var(--pf-global--BackgroundColor--light-300);
    }
  }

  &-display {
    width: 100%;
    padding: 15px;
    border: var(--pf-global--BorderWidth--sm) solid;
    border-color: var(--pf-global--BorderColor--light);
    border-top-width: 0;
    word-wrap: break-word;
    resize: none;
  }

  /* stylelint-disable selector-class-pattern */
  & > .input-group {
    display: flex;

    .input-group-addon,
    .input-group-btn {
      width: auto;
    }
  }
  /* stylelint-enable */
}
