.integr8ly-installed-apps-view {
  height: calc(100vh - 10rem); // Set full height (minus header) when viewport over 1000px tall

  @media (max-height: 1000px) {
    height: auto; // Set automatic height when viewport under 1000px tall
  }

  border-bottom: 0;
  box-shadow: none;

  @media (max-width: 1091px) {
    width: 100%;
  }

  &-panel-title {
    margin-bottom: 1px;
    background-color: var(--pf-global--Color--light-100) !important; /* stylelint-disable-line declaration-no-important */

    & h2 {
      flex-basis: 70%;
    }

    & div {
      flex-basis: 30%;
      white-space: nowrap;
    }
  }

  & .pf-c-data-list__item-control { /* stylelint-disable-line selector-class-pattern */
    margin-right: 1px;
  }

  &-list-item-enabled:hover {
    cursor: pointer;
  }
}

.integr8ly-state-provisioning {
  color: $pf-color-black-600 !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-state-ready {
  color: var(--pf-global--success-color--200) !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-state-unavailable {
  color: var(--pf-global--danger-color--200) !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-panel-title {
  background-color: $pf-color-white !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-pretty-name {
  color: var(--pf-global--Color--200);
}

.integr8ly-installed-apps div {
  padding-bottom: 1px;
}

.integr8ly-app-name-pretty {
  padding: 1px !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-app-detail-content {
  border: none !important; /* stylelint-disable-line declaration-no-important */
  padding-left: 42px;

  & .pf-c-data-list__expandable-content-body { /* stylelint-disable-line selector-class-pattern */
    padding-top: 1px !important; /* stylelint-disable-line declaration-no-important */
  }
}

.pf-c-data-list__item-action {
  display: block !important;
  min-width: 30%;

  > * {
    text-align: right;
  }

  @media (max-width: 600px) {
    min-width: initial;
  }
}
