.integr8ly-installed-apps-view {
  margin-bottom: 0;
  border-bottom: 0;
  box-shadow: none;

  @media (max-width: 1091px) {
    width: 100%;
  }

  &-panel-title {
    display: flex;

    & h2 {
      flex-basis: 70%;
      margin-top: 9px;
    }

    & div {
      flex-basis: 30%;
      font-size: var(--pf-global--FontSize--sm);
      font-weight: var(--pf-global--FontWeight--bold);
      white-space: nowrap;
      text-align: right;
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;
    background-color: $pf-color-white;

    i {
      margin-left: 5px;
    }

    & li {
      border-top: var(--pf-global--BorderWidth--sm) solid transparent;
      border-bottom: var(--pf-global--BorderWidth--sm) solid transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      padding: 15px;

      p {
        margin-bottom: 0;
        color: $pf-color-black-900;
      }
    }

    & li:hover {
      background-color: $pf-color-blue-50;
      cursor: pointer;
    }
  }

  &-list-item {
    display: flex;
  }

  &-list-item-title {
    margin-right: var(--pf-global--spacer--lg);
  }
}

.integr8ly-state-provisioining {
  color: $pf-color-black-600 !important; /* stylelint-disable-line */
}

.integr8ly-state-ready {
  color: $pf-color-green-400 !important; /* stylelint-disable-line */
}

.integr8ly-state-unavailable {
  color: var(--pf-global--danger-color--100) !important; /* stylelint-disable-line */
}

.integr8ly-panel-title {
  background-color: $pf-color-white;
}
