.integr8ly-installed-apps-view {
  height: calc(100vh - 10rem); // Set full height (minus header) when viewport over 1000px tall

  @media (max-height: 1000px) {
    height: auto; // Set automatic height when viewport under 1000px tall
  }

  border-bottom: 0;
  box-shadow: none;

  @media (max-width: 1091px) {
    width: 100%;
  }

  &-panel-title {
    margin-bottom: 1px;
    background-color: var(--pf-global--Color--light-100) !important; /* stylelint-disable-line declaration-no-important */

    & h2 {
      flex-basis: 70%;
    }

    & div {
      flex-basis: 30%;
      white-space: nowrap;
    }
  }

  &-list-item-enabled:hover {
    cursor: pointer;
  }
}

.integr8ly-state-provisioining {
  color: $pf-color-black-600 !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-state-ready {
  color: var(--pf-global--success-color--200) !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-state-unavailable {
  color: var(--pf-global--danger-color--200) !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-panel-title {
  background-color: $pf-color-white !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-pretty-name {
  color: var(--pf-global--Color--200);
}
