.integr8ly-list-view-pf {
  & > .list-group-item { /* stylelint-disable-line selector-class-pattern */
    &:hover {
      border-right-color: var(--pf-global--Color--light-100);
      border-left-color: var(--pf-global--Color--light-100);
    }
  }

  &-description {
    flex: 1 !important; /* stylelint-disable-line declaration-no-important */
  }

  .list-view-pf-description { /* stylelint-disable-line selector-class-pattern */
    flex: 1 !important; /* stylelint-disable-line declaration-no-important */
  }

  .list-group-item:hover { /* stylelint-disable-line selector-class-pattern */
    background-color: var(--pf-global--Color--light-100);
  }
}

.module-list { /* stylelint-disable selector-class-pattern */
  padding-left: 15px;

  & > li {
    margin-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
