.integr8ly-helpful {
  &-resources-list {
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  &-links {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $pf-color-black-150;
    border-left: var(--pf-global--BorderWidth--sm) solid;
    border-left-color: $pf-color-black-300;

    &-heading {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: var(--pf-global--FontWeight--normal);
    }

    &-product-title {
      margin-top: 25px;
      font-size: var(--pf-global--FontSize--lg);

      i {
        font-size: var(--pf-global--FontSize--md);

        /* stylelint-disable */
        /* only 3 levels of nesting allowed - this needs to be fixed */
        &.pficon-on-running {
          color: $pf-color-green-400;
        }

        &.fa-pie-chart {
          color: $pf-color-black-600;
        }

        &.pficon-pending {
          color: $pf-color-orange-400;
        }
        /* stylelint-enable */
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
