.integr8ly-walkthrough-resources {
  h4 {
    margin-bottom: 0;
  }

  .ulist ul { /* stylelint-disable selector-class-pattern */
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 0;
    list-style: none;
  }
}
