.integr8ly-tutorial-dashboard {
  border: 0;
  box-shadow: none;

  &-title {
    border: none;

    & h2 {
      flex-basis: 50%;
    }
  }
}

.integr8ly-walkthrough {
  &-counter {
    flex-basis: 50%;
  }
}
