.integr8ly-tutorial-dashboard {
  border: 0;
  box-shadow: none;

  &-title {
    border: none;

    & h1 {
      flex-basis: 50%;
    }

    & h3 {
      flex-basis: 50%;
    }
  }
}

.integr8ly-gallery-override {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important; /* stylelint-disable-line declaration-no-important */
}

.integr8ly-title-override {
  flex-basis: 50%;
}

.integr8ly-dash-badge {
  color: #000 !important; /* stylelint-disable-line declaration-no-important */
  background-color: #fff !important; /* stylelint-disable-line declaration-no-important */
  margin-left: 2px;
}

.integr8ly-repository {
  margin-left: 5px;
  color: $pf-color-blue-400;
}

.integr8ly-authored {
  margin-left: 15px;
}

.integr8ly-walkthrough {
  &-counter {
    flex-basis: 50%;
  }

  &-badge {
    // flex-basis: 50%;
    margin-left: 85%;
    margin-bottom: 10px;
  }
}
