.integr8ly-tutorial-dashboard {
  height: 100vh;
  margin-bottom: 0;
  background-color: #ededed;
  border: 0;
  box-shadow: none;

  @media (max-width: 1091px) {
    width: 100%;

    .card-pf-body { /* stylelint-disable-line selector-class-pattern */
      min-height: 270px;
    }
  }

  @media (min-width: 1092px) {
    width: 66.6%;

    .card-pf-body { /* stylelint-disable-line selector-class-pattern */
      min-height: 250px;
    }
  }

  /* stylelint-disable */
  & .panel-heading,
  .cards-pf {
    background-color: #ededed;
  }
  /* stylelint-enable */

  & .panel-title { /* stylelint-disable-line selector-class-pattern */
    display: flex;
    border: none;

    & h2 {
      flex-basis: 50%;
      color: $pf-color-black-900;
    }

    .walkthrough-counter { /* stylelint-disable-line selector-class-pattern */
      flex-basis: 50%;
      margin-top: 16px;
      text-align: right;
      color: $pf-color-black-800;
      font-size: var(--pf-global--FontSize--sm);
      font-weight: var(--pf-global--FontWeight--bold);
    }
  }
}

.integr8ly-walkthrough-labels {
  float: left;
}

.integr8ly-walkthrough-labels-tag {
  display: inline;
  position: inherit;
  margin-right: 10px;
}
