.integr8ly-tutorial-card {
  min-width: 100px;

  &:hover {
    box-shadow: 0 1px 6px rgba(3, 3, 3, .35);
    cursor: pointer;
  }

  &-rectangle {
    background-color: $pf-color-black-300;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  &-footer-item {
    margin-bottom: 10px;
  }

  &-pf-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;

    .progress { /* stylelint-disable-line selector-class-pattern */
      display: table-cell;
      width: 100px;
      margin-top: -2px;
      margin-bottom: 0;
      vertical-align: middle;

      .progress-bar[aria-valuenow="100"] { /* stylelint-disable-line selector-class-pattern */
        background-color: $pf-color-green-400;
      }
    }

    .progress-label { /* stylelint-disable-line selector-class-pattern */
      display: table-cell;
      margin-top: -2px;
      margin-bottom: 0;
      padding-left: 10px;
    }

    .progress-label-completed { /* stylelint-disable-line selector-class-pattern */
      color: $pf-color-green-400;
    }

    &-get-started {
      flex-basis: 50%;
      text-align: left;
      white-space: nowrap;
    }

    &-time-to-complete {
      flex-basis: 50%;
      color: $pf-color-black-600;
      font-weight: var(--pf-global--FontWeight--bold);
      text-align: right;

      /* stylelint-disable */
      /* fix depth of nesting - should be no more than 3 */
      .fa-clock {
        margin-right: 3px;

        &::before {
          color: $pf-color-black-600;
        }
      }
      /* stylelint-enable */
    }
  }
}

.integr8ly-text-complete {
  color: $pf-color-green-400;
}

.integr8ly-card-complete {
  border-top-color: $pf-color-green-400;
}
