/*!
 * Integreatly Tutorial Web App
 * License - https://github.com/integr8ly/tutorial-web-app/blob/master/LICENSE (Apache License 2.0)
 */

@import "./application/variables";

// PatternFly 4
/* stylelint-disable */
// Prevent stylelint from checking imported code

// PatternFly 4 Imports
// Import PatternFly 4, but ignore any inherited stylelint issues
// individual imports will be simplified once
// https://github.com/patternfly/patternfly-next/issues/1370
// is addressed (related to missing .scss extension on import
@import '../node_modules/@patternfly/patternfly/patternfly-base.scss';
@import "../node_modules/@patternfly/patternfly/components/AboutModalBox/about-modal-box.scss";
@import "../node_modules/@patternfly/patternfly/components/Alert/alert.scss";
@import "../node_modules/@patternfly/patternfly/components/AlertGroup/alert-group.scss";
@import "../node_modules/@patternfly/patternfly/components/AppLauncher/app-launcher.scss";
@import "../node_modules/@patternfly/patternfly/components/Avatar/avatar.scss";
@import "../node_modules/@patternfly/patternfly/components/Backdrop/backdrop.scss";
@import "../node_modules/@patternfly/patternfly/components/BackgroundImage/background-image.scss";
@import "../node_modules/@patternfly/patternfly/components/Badge/badge.scss";
@import "../node_modules/@patternfly/patternfly/components/Brand/brand.scss";
@import "../node_modules/@patternfly/patternfly/components/Breadcrumb/breadcrumb.scss";
@import "../node_modules/@patternfly/patternfly/components/Button/button.scss";
@import "../node_modules/@patternfly/patternfly/components/Card/card.scss";
@import "../node_modules/@patternfly/patternfly/components/Check/check.scss";
@import "../node_modules/@patternfly/patternfly/components/Chip/chip.scss";
@import "../node_modules/@patternfly/patternfly/components/ChipGroup/chip-group.scss";
@import "../node_modules/@patternfly/patternfly/components/Content/content.scss";
@import "../node_modules/@patternfly/patternfly/components/ContextSelector/context-selector.scss";
@import "../node_modules/@patternfly/patternfly/components/DataList/data-list.scss";
@import "../node_modules/@patternfly/patternfly/components/Dropdown/dropdown.scss";
@import "../node_modules/@patternfly/patternfly/components/EmptyState/empty-state.scss";
@import "../node_modules/@patternfly/patternfly/components/Form/form.scss";
@import "../node_modules/@patternfly/patternfly/components/FormControl/form-control.scss";
@import "../node_modules/@patternfly/patternfly/components/InputGroup/input-group.scss";
@import "../node_modules/@patternfly/patternfly/components/Label/label.scss";
@import "../node_modules/@patternfly/patternfly/components/List/list.scss";
@import "../node_modules/@patternfly/patternfly/components/Login/login.scss";
@import "../node_modules/@patternfly/patternfly/components/ModalBox/modal-box.scss";
@import "../node_modules/@patternfly/patternfly/components/Nav/nav.scss";
@import "../node_modules/@patternfly/patternfly/components/OptionsMenu/options-menu.scss";
@import "../node_modules/@patternfly/patternfly/components/Page/page.scss";
@import "../node_modules/@patternfly/patternfly/components/Pagination/pagination.scss";
@import "../node_modules/@patternfly/patternfly/components/Popover/popover.scss";
@import "../node_modules/@patternfly/patternfly/components/Progress/progress.scss";
@import "../node_modules/@patternfly/patternfly/components/Radio/radio.scss";
@import "../node_modules/@patternfly/patternfly/components/Select/select.scss";
@import "../node_modules/@patternfly/patternfly/components/Switch/switch.scss";
@import "../node_modules/@patternfly/patternfly/components/Table/table-grid.scss";
@import "../node_modules/@patternfly/patternfly/components/Table/table.scss";
@import "../node_modules/@patternfly/patternfly/components/Tabs/tabs.scss";
@import "../node_modules/@patternfly/patternfly/components/Title/title.scss";
@import "../node_modules/@patternfly/patternfly/components/Toolbar/toolbar.scss";
@import "../node_modules/@patternfly/patternfly/components/Tooltip/tooltip.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Bullseye/bullseye.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Flex/flex-ba.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Flex/flex.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Gallery/gallery.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Grid/grid.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Level/level.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Split/split.scss";
@import "../node_modules/@patternfly/patternfly/layouts/Stack/stack.scss";
@import '../node_modules/@patternfly/patternfly/patternfly-addons.scss';

// Font Awesome 5 icons
// Import Font Awesome 5, but ignore any inherited stylelint issues
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
/* stylelint-enable */

// Utilities
@import "./application/utilities";

// Components
@import "./application/components";

// Pages
@import "./application/pages";
