/* stylelint-disable selector-class-pattern */
@media (min-width: var(--pf-global--breakpoint--md)) {
  .applauncher-pf:not(.applauncher-pf-block-list) .applauncher-pf-link-title {
    flex: 0;
  }
}

.navbar-pf-vertical .navbar-brand {
  padding: 15px 20px;
}

.navbar-pf-vertical .nav .nav-item-iconic > .dropdown-title {
  line-height: 1;
}
/* stylelint-enable */
