// Additional variables for font weights,
// transitions, and timings to match PatternFly 4
// Delete this file once PatternFly 3 is removed

// Since PF3 sets root font size to 10px, we need to unset it.
// This doesn't affect PF3.
// https://github.com/twbs/bootstrap/blob/v3.4.0-dev/less/scaffolding.less#L23

/* stylelint-disable */
html {
  font-size: unset !important; // the important is needed because we don't know if pf3 will be loaded after pfnext
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}
/* stylelint-enable */

// Button styles
button,
a {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

p {
  font-size: $pf-global--FontSize--md;
}

small,
.integr8ly-small {
  font-size: 91%;
}

// List styling
ul {
  list-style: none;
}

// Tables
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// Button / Form styling
/* stylelint-disable */
/* allows the override of default PF3/Bootstrap 3 styles */
.btn,
.form-control {
  font-size: $pf-global--FontSize--md;
}

.pf-c-content {
  .paragraph {
    p {
      margin-bottom: var(--pf-c-content--MarginBottom);
    }
  }

  .admonitionblock.note {
    margin-bottom: var(--pf-c-content--MarginBottom);
    padding: var(--pf-global--spacer--md);
    font-weight: var(--pf-c-content--blockquote--FontWeight);
    color: var(--pf-c-content--blockquote--Color);
    border-left: var(--pf-c-content--blockquote--BorderLeftWidth) solid var(--pf-c-content--blockquote--BorderLeftColor);

    .icon .title {
      margin-right: var(--pf-global--spacer--md);
    }
  }
}

.form-control {
  height: 32px; // accounts for increase in base font size from 12px to 16px
}

.pf-l-gallery.pf-m-gutter {
  grid-gap: 48px !important;
}

.pf-c-content {
  .btn-primary {
    & > .fa {
      color: $pf-color-white;
    }

    color: $pf-color-white;
  }

  .btn-default {
    color: $pf-color-black-900;
  }

  .btn[disabled] {
    & > .fa {
      color: $pf-color-black-500;
    }
  }
}

/* stylelint-enable */

.integr8ly-docs-header {
  h5 {
    font-size: $h3-font-size;
    font-weight: $pf-global--FontWeight--semi-bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .olist { /* stylelint-disable-line selector-class-pattern */
    font-size: $pf-global--FontSize--md;
    font-weight: $pf-global--FontWeight--normal;
  }
}

