//
// Additional variables for font weights,
// transitions, and timings to match PatternFly 4
// Delete this file once PatternFly 3 is removed
//

// Since PF3 sets root font size to 10px, we need to unset it.
// This doesn't affect PF3.
// https://github.com/twbs/bootstrap/blob/v3.4.0-dev/less/scaffolding.less#L23

/* stylelint-disable */
html {
  font-size: unset !important; // the important is needed because we don't know if pf3 will be loaded after pfnext
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}
/* stylelint-enable */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

// Body / Paragraph styling
body {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--md);
  font-size: var(--pf-global--FontSize--md);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  text-align: left;
  background-color: var(--pf-global--BackgroundColor-100);
}

// Links styles
a {
  font-weight: var(--pf-global--link--FontWeight);
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);

  &:hover {
    color: var(--pf-global--link--Color--hover);
    text-decoration: var(--pf-global--link--TextDecoration--hover);
  }
}

// Button styles
button,
a {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}

p {
  font-size: $pf-global--FontSize--md;
}

// Header styling
h1,
.integr8ly-h1 {
  font-size: $h1-font-size;
}

h2,
.integr8ly-h2 {
  font-size: $h2-font-size;
}

h3,
.integr8ly-h3 {
  font-size: $h3-font-size;
}

h4,
.integr8ly-h4 {
  font-size: $h4-font-size;
}

h5,
.integr8ly-h5 {
  font-size: $h5-font-size;
}

h6,
.integr8ly-h6 {
  font-size: $h6-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
.integr8ly-h1,
.integr8ly-h2,
.integr8ly-h3,
.integr8ly-h4,
.integr8ly-h5,
.integr8ly-h6 {
  font-size: 100%;
  font-weight: var(--pf-global--FontWeight--semi-bold);
}

h1,
h2,
h3 {
  .integr8ly-small,
  small {
    font-weight: var(--pf-global--FontWeight--normal);
    font-size: 65%;
  }
}

h4,
h5,
h6 {
  .integr8ly-small,
  small {
    font-weight: var(--pf-global--FontWeight--normal);
    font-size: 75%;
  }
}

h1,
h2,
h3,
.integr8ly-h1,
.integr8ly-h2,
.integr8ly-h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6,
.integr8ly-h4,
.integr8ly-h5,
.integr8ly-h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

small,
.integr8ly-small {
  font-size: 91%;
}

// List styling
ul {
  list-style: none;
}

// Tables
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

// Button / Form styling
/* stylelint-disable */
/* allows the override of default PF3/Bootstrap 3 styles */
.btn,
.form-control {
  font-size: $pf-global--FontSize--md;
}

.pf-c-content {
  .btn-primary {
    & > .fa {
      color: $pf-color-white;
    }

    color: $pf-color-white;
  }

  .btn-default {
    color: $pf-color-black-900;
  }

  .btn[disabled] {
    & > .fa {
      color: $pf-color-black-500;
    }
  }
}

.form-control {
  height: 32px; // accounts for increase in base font size from 12px to 16px
}
/* stylelint-enable */

.integr8ly-docs-header {
  h5 {
    font-size: $h3-font-size;
    font-weight: $pf-global--FontWeight--semi-bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .olist { /* stylelint-disable-line selector-class-pattern */
    font-size: $pf-global--FontSize--md;
    font-weight: $pf-global--FontWeight--normal;
  }
}

