/* stylelint-disable selector-class-pattern */
/* used to override existing classes */
.alert-primary {
  background-color: $pf-color-blue-50;
  border-color: $pf-color-blue-200;
  color: $pf-color-black-1000;

  .fa-li {
    margin-top: 2px;
  }
}
/* stylelint-enable */
.integr8ly-alert {
  .integr8ly-alert-icon {
    font-size: var(--pf-global--FontSize--2xl);
    position: absolute;
    left: 13px;
    top: 10px;
  }
}
