.integr8ly-congratulations {
  background-image: url("../../img/congratulations_bg.png");
  background-color: $pf-color-blue-600;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  display: flex;
  height: calc(100vh - 40px);
  margin-bottom: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $pf-color-white;
  text-align: center;

  &_logo {
    background-image: url("../../img/RedHatLogo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 45px;
    right: 25px;
    height: 38px;
    width: 115px;
  }

  &_icon {
    background-image: url("../../img/congratulations.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 199px;
    width: 198px;
    margin-bottom: 16px;
  }

  &_paragraph {
    margin-bottom: 28px;
  }

  &_buttons {
    button {
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}
