@media (max-width: 1091px) {
  .app-installed-apps-view {
    width: 100%;
  }
}
@media (min-width: 1092px) {
  .app-installed-apps-view {
    width: 33.3%;
  }
}

.app-installed-apps-view {
  & .panel-title {
    background-color: $color-pf-white;
  }
  &-panel-title {
    display: flex;
    & h2 {
      flex-basis: 70%;
      margin-top: 5px;
    }
    & div {
      flex-basis: 30%;
      margin-top: 5px;
      text-align: right;
    }
  }
}
.app-installed-apps-view-list {
  list-style-type: none;
  padding: 0;
  & li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
  }
  & li:hover {
    background-color: $color-pf-blue-50;
    cursor: pointer;
  }
}
