.integr8ly-installed-apps-view {
  height: 100vh;
  margin-bottom: 0;
  border-bottom: 0;
  box-shadow: none;

  @media (max-width: 1091px) {
    width: 100%;
  }

  @media (min-width: 1092px) {
    width: 33.3%;
  }

  &-panel-title {
    display: flex;

    & h1 {
      flex-basis: 70%;
      margin-top: 9px;
      color: $pf-color-black-800;
    }

    & div {
      flex-basis: 30%;
      margin-top: 10px;
      color: $pf-color-black-800;
      font-size: var(--pf-global--FontSize--sm);
      font-weight: var(--pf-global--FontWeight--bold);
      text-align: right;
    }
  }

  &-list {
    list-style-type: none;
    padding: 0;

    i {
      margin-left: 5px;
    }

    & li {
      border-top: var(--pf-global--BorderWidth--sm) solid transparent;
      border-bottom: var(--pf-global--BorderWidth--sm) solid transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      padding: 15px;

      p {
        margin-bottom: 0;
        color: #282d33;
      }
    }

    & li:hover {
      background-color: $pf-color-blue-50;
      cursor: pointer;
    }
  }

  &-title {
    display: flex;
  }
}

.integr8ly-state-provisioining {
  color: $pf-color-black-600;
}

.integr8ly-state-ready {
  color: $pf-color-green-400;
}

.integr8ly-state-unavailable {
  color: var(--pf-global--danger-color--100);
}

.integr8ly-panel-title {
  background-color: $pf-color-white;
}
