.integr8ly-installed-apps-view {
  margin-bottom: 0;
  @media (max-width: 1091px) {
    width: 100%;
  }
  @media (min-width: 1092px) {
    width: 33.3%;
  }
  & .panel-title {
    background-color: $color-pf-white;
  }
  &-panel-title {
    display: flex;
    & h3 {
      flex-basis: 70%;
      margin-top: 5px;
      color: $color-pf-black-800;
    }
    & div {
      flex-basis: 30%;
      margin-top: 10px;
      color: $color-pf-black-800;
      font-size: $pf-global--FontSize--sm;
      font-weight: $pf-global--FontWeight--bold;
      text-align: right;
    }
  }
  &-list {
    list-style-type: none;
    padding: 0;
    i {
      margin-left: 5px;
    }
    & li {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      padding: 15px;
      p {
        margin-bottom: 0;
        color: #282d33;
      }
    }
    & li:hover {
      background-color: $color-pf-blue-50;
      cursor: pointer;
    }
  }
}
