.integr8ly {
  &-label-community {
    position: absolute;
    margin-left: 10px;
    padding: 6px 8px;
    border: 1px solid;
    border-color: $pf-color-black-300;
    background-color: $pf-color-black-300;
    color: $pf-color-black-900;
    font-size: $pf-global--FontSize--xs !important; /* stylelint-disable-line declaration-no-important */
    font-weight: $pf-global--FontWeight--bold;
  }
  &-label-preview {
    position: absolute;
    margin-left: 10px;
    padding: 6px 8px;
    border: 1px solid;
    border-color: $pf-color-blue-200;
    background-color: $pf-color-blue-200;
    color: $pf-color-black-900;
    font-size: $pf-global--FontSize--xs !important; /* stylelint-disable-line declaration-no-important */
    font-weight: $pf-global--FontWeight--bold;
  }
}
