.integr8ly-label {
  &-community {
    position: absolute;
    right: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
    border: var(--pf-global--BorderWidth--sm) solid;
    border-color: $pf-color-black-300;
    background-color: $pf-color-black-300;
    color: $pf-color-black-900;
    font-size: var(--pf-global--FontSize--xs) !important; /* stylelint-disable-line declaration-no-important */
    font-weight: var(--pf-global--FontWeight--bold);
  }

  &-preview {
    position: absolute;
    right: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
    border: var(--pf-global--BorderWidth--sm) solid;
    border-color: $pf-color-blue-200;
    background-color: $pf-color-blue-200;
    color: $pf-color-black-900;
    font-size: var(--pf-global--FontSize--xs) !important; /* stylelint-disable-line declaration-no-important */
    font-weight: var(--pf-global--FontWeight--bold);
  }
}
