.app-landing-page-integr8ly-masthead {
  background-image: url(../../img/landing-page-bck-img.jpg);
  background-color: $color-pf-black-900;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  color: $color-pf-white;
  margin: auto 0;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
}
