@media(min-width: 992px) {
    
.app-landing-page-tutorial-dashboard-section {
    display: flex;
  }
}


.app-landing-page-tutorial-dashboard-section-left {
  flex-basis: 67%;
}

.app-landing-page-tutorial-dashboard-section-right {
  flex-basis: 33%;
}
