.integr8ly-loadingscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: var(--pf-global--info-color--200);
  background-image: url("../../img/provisioning-bg.png");
  z-index: 5;

  &-spacer {
    @media (max-width: $pf-global--breakpoint--sm), (max-height: 550px) { // set height at max-width of 576px OR max-height of 550px
      min-height: auto;
    }
  }

  &-throbber {
    min-height: 380px;
    min-width: 464px;

    @media (max-width: $pf-global--breakpoint--sm), (max-height: 550px) { // set display: none at max-width of 576px OR max-height of 550px
      display: none;
    }
  }

  &-throbber-static {
    height: 380px;
    width: 465px;
  }

  &-logo {
    background-size: cover;
    height: 36px;
    width: 113px;
    position: absolute;
    top: 85px;
    right: 25px;
    background-image: url("../../img/RedHatLogo.png");
  }

  &-text {
    color: $pf-color-white;
    text-align: center;
  }

  &-progress {
    display: flex;
    width: 65%;
  }

  &-progressbar {
    width: 85%;
    background-color: transparent;
    border: var(--pf-global--BorderWidth--md) solid $pf-color-white;
    color: $pf-color-white;

    & .progress-bar { /* stylelint-disable-line selector-class-pattern */
      background-color: $pf-color-white;
      background-image: none;
    }
  }

  &-progress-label {
    margin-left: 15px;
    color: $pf-color-white;
  }
}
