.integr8ly-loadingscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;

  &-spacer {
    align-self: center;
    min-height: 450px;
    min-width: 380px;
    margin-top: 75px;
    z-index: 5;
  }

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: var(--pf-global--info-color--200);
    background-image: url("../../img/provisioning-bg.png");
    z-index: 5;
  }

  &-logo {
    background-size: cover;
    height: 36px;
    width: 113px;
    position: absolute;
    top: 85px;
    right: 25px;
    background-image: url("../../img/RedHatLogo.png");
  }

  &-text {
    color: $pf-color-white;
    text-align: center;
    z-index: 5;
  }

  &-progress {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    z-index: 5;
  }

  &-progressbar {
    width: 85%;
    background-color: transparent;
    border: var(--pf-global--BorderWidth--md) solid $pf-color-white;
    color: $pf-color-white;

    & .progress-bar { /* stylelint-disable-line selector-class-pattern */
      background-color: $pf-color-white;
      background-image: none;
    }
  }

  &-progress-label {
    margin-left: 15px;
    color: $pf-color-white;
  }
}
