/* stylelint-disable selector-class-pattern */
.navbar {
  min-height: 40px;
  z-index: 5;
}

.navbar-pf-vertical {
  border-top-color: $pf-color-red-100;

  .navbar-brand {
    padding: 8px 0 0;
    min-height: auto;

    .navbar-brand-name {
      height: auto;
    }
  }

  .nav .nav-item-iconic {
    padding: 10px 12px;
  }
}

.layout-pf.hidden-nav-menu {
  .nav-pf-vertical {
    border: 0;
    width: 0;
  }

  .container-pf-nav-pf-vertical {
    margin-left: 0;
  }

  .navbar-toggle {
    visibility: hidden;
  }
}
/* stylelint-enable */
