/* stylelint-disable selector-class-pattern */
.navbar {
  height: 40px;
  min-height: 40px;
  z-index: 5;
}

.navbar-pf-vertical {
  .navbar-brand {
    padding: 8px 0 0;
    min-height: auto;

    .navbar-brand-name {
      height: auto;
    }
  }

  .nav .nav-item-iconic {
    padding: 10px 12px;
  }
}

// Setup for internal vertical scroll
.integr8ly-app-content {
  bottom: 0;
  left: 0;
  right: 0;
  top: $navbar-pf-vertical-height;
  position: relative;

  .collapsed-nav & {
    left: $nav-pf-vertical-collapsed-width;
  }

  .hidden-nav & {
    left: 0;
  }
}

.layout-pf.hidden-nav-menu {
  .nav-pf-vertical {
    border: 0;
    width: 0;
  }

  .container-pf-nav-pf-vertical {
    margin-left: 0;
  }

  .navbar-toggle {
    visibility: hidden;
  }
}
/* stylelint-enable */
