// These imports reference files from the Pages folder

@import "./pages/congratulations";
@import "./pages/provisioning";
@import "./pages/taskDashboard";
@import "./pages/taskLayout";
@import "./pages/settings";
