.integr8ly-provisioning {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: calc(100vh);
  margin-bottom: 0;

  --integr8ly-c-provisioning-image--BackgroundImage--xs: url("#{$pf-global--image-path}/loading_576.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--xs-2x: url("#{$pf-global--image-path}/loading_576@2x.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--sm: url("#{$pf-global--image-path}/loading_768.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--sm-2x: url("#{$pf-global--image-path}/loading_768@2x.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--md: url("#{$pf-global--image-path}/loading_992.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--md-2x: url("#{$pf-global--image-path}/loading_992@2x.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--lg: url("#{$pf-global--image-path}/loading_1200.jpg");
  --integr8ly-c-provisioning-image--BackgroundImage--xl: url("#{$pf-global--image-path}/loading_2000.jpg");

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $pf-color-blue-600;
    background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--xs);
    filter: var(--pf-c-background-image--Filter);
    background-repeat: no-repeat;
    background-size: cover;

    /* stylelint-disable */
    @media (max-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (max-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--xs-2x);
    }

    @media (min-width: $pf-global--breakpoint--sm) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--sm);
    }

    @media (min-width: $pf-global--breakpoint--sm) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--sm) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--sm-2x);
    }

    @media (min-width: $pf-global--breakpoint--md) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--md);
    }

    @media (min-width: $pf-global--breakpoint--md) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--md) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--md-2x);
    }

    @media (min-width: $pf-global--breakpoint--lg) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--lg);
    }

    @media (min-width: $pf-global--breakpoint--lg) and (-webkit-min-device-pixel-ratio: 2),
      (min-width: $pf-global--breakpoint--lg) and (min-resolution: 192dpi) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--xl);
    }

    @media (min-width: $pf-global--breakpoint--xl) {
      background-image: var(--integr8ly-c-provisioning-image--BackgroundImage--xl);
    }
  }

  &_logo {
    position: absolute;
    top: 45px;
    right: 25px;
    height: 38px;
    width: 115px;
    background-image: url("../../img/RedHatLogo.png");
    background-repeat: no-repeat;

    @media (max-width: var(--pf-global--breakpoint--md)) {
      display: none;
    }
  }

  &_icon {
    height: 100%;
    width: 20%;
    margin: 0 auto;
    background-image: url("../../img/StartingServicesStill.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 5;

    @media (max-width: var(--pf-global--breakpoint--md)) {
      display: none;
    }
  }

  &_heading {
    color: $pf-color-white;
    text-align: center;
    z-index: 5;
    padding-bottom: 40px;
  }

  &_list-view {
    & > .list-group-item {
      background-color: rgba(0, 67, 104, .75);
      border-color: $pf-color-blue-200 transparent;
      color: $pf-color-white;

      &:hover {
        background-color: rgba(0, 67, 104, .75);
      }
    }

    .list-view-pf-main-info:hover {
      cursor: default;
    }

    .list-group-error-item {
      background-color: $pf-color-blue-50;
      border-color: $pf-color-blue-200;
      color: $pf-color-black-700;

      &:hover {
        background-color: $pf-color-blue-50;
      }
    }

    .list-group-item-header {
      cursor: default;
    }

    .list-group-error {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 55px;
    }

    .list-view-pf-left .pficon {
      font-size: 1.6em;
    }

    .list-view-pf-expand {
      visibility: hidden;
    }

    .list-group-item-heading {
      font-size: 16px;
      font-weight: 500;
      border-right: 1px solid $pf-color-blue-200;
    }

    .list-view-pf-additional-info-item {
      text-align: left;
    }

    .pf-c-progress {
      grid-gap: 0;
    }
  }
}

.integr8ly-status-ready {
  color: $pf-color-light-green-400 !important;
  font-size: 1.5em !important;
  display: block;
}

.integr8ly-status-error,
.list-group-item-text.integr8ly-status-error {
  color: $pf-color-red-100 !important;
}

/* stylelint-enable */

.integr8ly-progress-bar-striped {
  background-image: linear-gradient(-45deg, rgba(3, 3, 3, .15) 25%, rgba(3, 3, 3, .15) 26%, transparent 27%, transparent 49%, rgba(3, 3, 3, .15) 50%, rgba(3, 3, 3, .15) 51%, transparent 52%, transparent 74%, rgba(3, 3, 3, .15) 75%, rgba(3, 3, 3, .15) 76%, transparent 77%);
  background-size: 40px 40px;

  /* stylelint-disable */
  &.active {
    // Unexpected vendor-prefix "-webkit-animation"
    // -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
  }
  /* stylelint-enable */
}
