.integr8ly {
  &-helpful-links {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $color-pf-black-150;
    border-left: 1px solid;
    border-left-color: $color-pf-black-300;
    &-heading {
      margin-bottom: 28px;
      font-weight: $pf-global--FontWeight--normal;
    }
    &-product-title {
      font-weight: $pf-global--FontWeight--bold;
      margin-top: 30px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
