.integr8ly {
  &-module {
    margin-top: 40px;
    margin-bottom: 80px;
    &-congratulations {
      margin-top: 0;
    }
    &-column {
      &--status {
        background-color: $pf-color-black-100;
        border-bottom: 1px solid;
        border-bottom-color: $pf-color-black-300;
        margin: 0 -20px;
        padding: 1px 20px;
        min-height: 48px;

        .progress.progress-label-left {
          width: 80%;
          margin-top: 15px;
          margin-bottom: 10px;
          margin-left: 100px;

          span {
            position: absolute;
            top: -3px;
            margin-left: -100px;
          }
        }

        &-next {
          background-color: $pf-color-black-100;
          border-top: 1px solid;
          border-top-color: $pf-color-black-300;
          margin: 0 -20px;
          padding: 10px 20px 20px;
        }
      }

      &--steps {
        margin-right: -20px;
        margin-bottom: 56px;
        margin-left: -20px;
        padding: 15px 20px 0;
        background-color: $pf-color-white;
      
        .alert.default {
          background-color: $pf-color-blue-50;
          border-color: $pf-color-blue-200;
          color: $pf-color-black-100;      
      }
    }
      &--footer {
        background-color: $pf-color-black-100;
        border-top: 1px solid;
        border-top-color: $pf-color-black-300;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 75%;
        text-align: center;
        z-index: 10;

        @media (max-width: 768px) {
          width: 100%;
        }

        &_status {
          margin-bottom: 10px;
          color: $pf-color-blue-400;

          .fa {
            padding-right: 5px;
          }

          &-checked {
            margin-bottom: 10px;
            padding-right: 15px;
            color: $pf-color-green-400;
          }

          &-step {
            margin-right: 15px;
          }
        }
      }
    }
    &-frame {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      padding-top: 40px;
      overflow-y: auto;
      background-color: $pf-color-black-150;
      border-left: 1px solid;
      border-left-color: $pf-color-black-300;

      @media (max-width: 768px) {
        display: none;
      }
      // & > .list-unstyled {
      //   margin-left: 25px;
      // }
    }
  }
}