.integr8ly {
  &-module {
    margin-top: 40px;
    margin-bottom: 80px;
    &-column {
      &--status {
        background-color: $color-pf-black-100;
        border-bottom: 1px solid;
        border-bottom-color: $color-pf-black-300;
        margin: 0 -20px;
        padding: 1px 20px;
        min-height: 48px;

        .progress.progress-label-left {
          width: 80%;
          margin-top: 15px;
          margin-bottom: 10px;
          margin-left: 100px;

          span {
            position: absolute;
            top: -3px;
            margin-left: -100px;
          }
        }

        &-next {
          background-color: $color-pf-black-100;
          border-top: 1px solid;
          border-top-color: $color-pf-black-300;
          margin: 0 -20px;
          padding: 10px 20px 20px;
        }
      }

      &--steps {
        margin-right: -20px;
        margin-bottom: 56px;
        margin-left: -20px;
        padding: 15px 20px 0;
        background-color: $color-pf-white;
      }

      &--footer {
        background-color: $color-pf-black-100;
        border-top: 1px solid;
        border-top-color: $color-pf-black-300;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 75%;
        text-align: center;
        z-index: 10;

        @media (max-width: 768px) {
          width: 100%;
        }

        &_status {
          margin-bottom: 10px;
          color: $color-pf-blue;

          .fa {
            padding-right: 5px;
          }

          &-step {
            margin-right: 15px;
          }
        }
      }
    }
    &-frame {
      position: fixed;
      top: 38px;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      background-color: $color-pf-black-200;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
