.integr8ly-task-dashboard {
  &-time-to-completion {
    margin-top: 5px;
    color: $color-pf-black-600;
    font-size: $pf-global--FontSize--lg;
    font-weight: $pf-global--FontWeight--normal;
  }

  &-estimated-time {
    color: $pf-color-black-600;
    font-weight: $pf-global--FontWeight--normal;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.integr8ly-tutorial-prereqs {
  margin-top: 5px;
  font-size: $pf-global--FontSize--xl;
}

.list-view-pf-stacked .list-group-item-heading {
  font-size: $pf-global--FontSize--xl;
  font-weight: $pf-global--FontWeight--normal;
}
