.integr8ly-task-dashboard {
  &-time-to-completion {
    margin-top: 5px;
    margin-right: 15px;
    color: $pf-color-black-600;
    font-size: $pf-global--FontSize--lg;
    font-weight: $pf-global--FontWeight--normal;
  }

  &-estimated-time {
    color: $pf-color-black-600;
    font-weight: $pf-global--FontWeight--normal;
  }
}

.list-view-pf-stacked .list-group-item-heading {
  font-size: $pf-global--FontSize--xl;
  font-weight: $pf-global--FontWeight--normal;
}
