@media (max-width: 1091px) {
  .app-tutorial-dashboard {
    width: 100%;
    .card-pf-body {
      min-height: 270px;
    }
  }
}
@media (min-width: 1092px) {
  .app-tutorial-dashboard {
    width: 66.6%;
    .card-pf-body {
      min-height: 250px;
    }
  }
}

.app-tutorial-dashboard {
  margin-bottom: 0;
  background-color: $color-pf-black-150;
  & .panel-title {
    display: flex;
    border: none;
    & h2 {
      flex-basis: 50%;
      margin-top: 5px;
      font-weight: 300;
    }
    .walkthrough-counter {
      flex-basis: 50%;
      margin-top: 16px;
      text-align: right;
      color: $color-pf-black-600;
      font-size: $pf-global--FontSize--sm;
      font-weight: 600;
    }
  }
}
