.app-tutorial-card-rectangle {
    background-color: #d8d8d8;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.app-tutorial-card-get-started-btn {
    float: right;
    margin-bottom: 10px;
}

.app-tutorial-card-learn-more-link {
    float: left;
    margin-bottom: 10px;
}

.app-tutorial-card-pf-footer {
    background-color: #fff;
    border-top: none;
}