.integr8ly-tutorial-dashboard {
  margin-bottom: 0;
  background-color: $pf-color-black-150;

  @media (max-width: 1091px) {
    width: 100%;

    .card-pf-body { /* stylelint-disable-line selector-class-pattern */
      min-height: 270px;
    }
  }

  @media (min-width: 1092px) {
    width: 66.6%;

    .card-pf-body { /* stylelint-disable-line selector-class-pattern */
      min-height: 250px;
    }
  }

  & .panel-title { /* stylelint-disable-line selector-class-pattern */
    display: flex;
    border: none;

    & h2 {
      flex-basis: 50%;
      margin-top: 5px;
      color: #282d33;
    }

    .walkthrough-counter { /* stylelint-disable-line selector-class-pattern */
      flex-basis: 50%;
      margin-top: 16px;
      text-align: right;
      color: $pf-color-black-800;
      font-size: $pf-global--FontSize--sm;
      font-weight: 600;
    }
  }

  & .panel-content { /* stylelint-disable-line selector-class-pattern */
    .container-cards-pf { /* stylelint-disable-line selector-class-pattern */
      margin-top: 0;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
