.app-tutorial-card {
  min-width: 100px;
}
.app-tutorial-card-rectangle {
  background-color: $color-pf-black-300;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.app-tutorial-card {
  text-align: center;
}
.app-tutorial-card-footer-item {
  margin-bottom: 10px;
}

.app-tutorial-card-pf-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
}
