.integr8ly-tutorial-card {
  min-width: 100px;
  &:hover {
    box-shadow: 0 1px 6px rgba(3,3,3,.35);
    cursor: pointer;
  }
  &-rectangle {
    background-color: $pf-color-black-300;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  &-footer-item {
    margin-bottom: 10px;
  }

  &-pf-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    &-get-started {
      flex-basis: 50%;
      text-align: left;
    }
    &-time-to-complete {
      flex-basis: 50%;
      color: $pf-color-black-600;
      font-weight: $pf-global--FontWeight--bold;
      text-align: right;
      .fa-clock-o:before {
        color: $pf-color-black-600;
      }
    }
  }
}
