.integr8ly-h2-white {
  color: $pf-color-white;
}

.integr8ly-text-dark {
  color: $pf-color-black-900 !important; /* stylelint-disable-line declaration-no-important */
  font-weight: var(--pf-global--FontWeight--bold);
}
