// Variables
// Set folder paths and structure

// Font path
$pf-global--font-path: "/assets/fonts" !default;

// Responsive font sizes
$enable-responsive-font-sizes: true !default;

// Icon path
$fa-font-path: "/assets/fonts/webfonts" !default;
$icon-font-path: "~patternfly/dist/fonts/";
$pf-global--fonticon-path: "/assets/pficon" !default;

// Image path
$pf-global--image-path: "/assets/images" !default;
$img-path: "~patternfly/dist/img/";

// PatternFly 4 Global Variables
$pf-global--enable-font-overpass-cdn: false !default;
$pf-global--enable-fontawesome-cdn: false !default;
$pf-global--load-pf-3: true !default;
$pf-global--enable-reset: true !default;
